{{define "subject"}}Reset your Bibliotheca password{{end}}

{{define "plainBody"}}
Hi, {{.userName}}.

To reset your Bibliotheca password please click the following link:

https://bibliotheca.com/users/password?token={{.passwordResetToken}}

Please note that this link will expire in 30 minutes. If you need another password reset link
please visit https://bibliotheca.com/tokens/password-reset.

Thanks,

The Bibliotheca Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi, {{.userName}}.</p>
    <p>To reset your Bibliotheca password please click the following link:</p>
    <pre>
        <a href="https://bibliotheca.com/users/password?token={{.passwordResetToken}}">https://bibliotheca.com/users/password?token={{.passwordResetToken}}</a>
    </pre>
    <p>Please note that this link will expire in 30 minutes.</p>
    <p>If you need another password reset link please visit <a href="https://bibliotheca.com/tokens/password-reset">https://bibliotheca.com/tokens/password-reset</a>.</p>
    <p>Thanks,</p>
    <p>The Bibliotheca Team</p>
</body>
</html>
{{end}}